body,
html {
  overflow-x: hidden !important;
}

.App {
  text-align: center;
}

.mainHeading {
  background-image: linear-gradient(
    to right top,
    #a3ced3,
    #75bace,
    #47a3cc,
    #1d8bca,
    #1f70c3
  );
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.todoActionBar,
.todoInputBar {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTaskTextbox {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 12px;
  margin-right: 12px;
  outline: none;
}

.todoAddButton {
  margin-top: 10px;
  height: 35px;
  width: 150px;
}

.todoButton,
.todoAddButton {
  background-image: linear-gradient(
    to right top,
    #a3ced3,
    #75bace,
    #47a3cc,
    #1d8bca,
    #1f70c3
  );
  border: none;
  border-radius: 12px;
  color: white;
  padding: 1px;
  text-align: center;
  margin-right: 5px;
  outline: none;
  display: block;
}

.todoAddButton:active {
  box-shadow: 0 0 2px #666;
}
.todoAddButton:hover {
  opacity: 0.9;
}
.todoButton:active {
  box-shadow: 0 0 2px 0 #666;
}
.todoButton:hover {
  opacity: 0.9;
}

.todoButton {
  height: 40px;
  width: 150px;
}

.todoListWrapper {
  justify-content: center;
}

.todoItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 85%;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.todoItemContainer:hover {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.todoSelectDeslectAll {
  font-size: 80%;
  position: relative;
  text-align: center;
  display: block;
}

.selectDeselectLabel {
  font-size: 60%;
  border: 1px;
}

.myHrStyle {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.checkBoxWrapper {
  width: 52%;
}

.strike:hover {
  transform: translateY(1px);
}

.editIcon:hover {
  transform: translateY(1px);
}

.trashIcon:hover {
  transform: translateY(1px);
}

.strike,
.editIcon,
.trashIcon {
  font-size: 100%;
  padding-left: 0.8%;
}

.saveTaskTextbox {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  font-size: 17px;
  overflow-wrap: break-word;
}

.strikeThrough {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  font-size: 17px;
  overflow-wrap: break-word;
  text-decoration: line-through;
}

.myPAncestor {
  background-color: red;
}

.myP {
  composes: myPAncestor;
  font-size: 40px;
}
/* .strike,
.editIcon,
.trashIcon {
  font-size: 100%;
  padding-left: 0.8%;
  margin-left: 10px;
  padding: 0.4vh;
  width: 100%;
  height: 17px;
} */

/* .todoCheckBox {
  margin: 0px;
} */

/* .icon {
  margin-left: 10px;
} */

/* .todoSelectDeslectAllCheckBox {
  vertical-align: middle;
} */

/* .strike {
  font-size: 20px;
  margin-right: 10px;
}

.editIcon {
  font-size: 25px;
  margin-right: 10px;
} */

/* .saveTaskTextbox {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  outline: none;
  display: block;
  border: 0;
  font-size: 17px;
  overflow-wrap: break-word;
} */

/* .todoCheckBox {
  margin-top: 5px;
  margin-right: 10px;
  height: 35px;
} */

/* .trashIcon {
  margin-right: 10px;
  color: firebrick;
  font-size: 25px;
} */

/* input[type="checkbox"] {
  width: 10%;
  height: 17px;
} */

/* .strikeThrough {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  outline: none;
  display: block;
  border: 0;
  font-size: 17px;
  overflow-wrap: break-word;
  text-decoration: line-through;
} */
